@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --clr-teal: rgb(13 148 136 / 1);
  --tw-gradient-to: #111;
  --tw-gradient-from: #1a1a1a;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
}

body>* {
  width: 100%;
}

main {
  flex-grow: 3;
}

.bg-visual {
  height: 100dvh;
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(139deg, var(--clr-teal), rgb(239 68 68 / 1));
}

.visual {
  border: none;
  transform: rotate(15deg);
}

.visual svg {
  width: 10rem;
  height: 10rem;
}

.recipe-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipe-item {
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .04);
  border-radius: 8px;
}

.recipe-item img {
  pointer-events: none;
}

.recipe-item:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, .08);
}

.recipe-image>*:not(img) {
  display: none;
}

.desc ul {
  list-style: decimal;
}

.desc li::marker,
.ingridients li::marker {
  color: rgb(20 184 166 / 1);
  font-weight: bold;
}

@media screen and (min-width:600px) {
  .visual {
    transform: rotate(45deg);
  }

  .visual svg {
    width: 30rem;
    height: 30rem;
  }
}

/* challenge */
.wrapper {
  margin-block: 6rem;
  max-width: 120ch;
  margin-inline: auto;
  padding: 0 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  --span2: span 2;

  --border-radius-base: 12px;

  --space-sm: 8px;
  --space-base: 16px;
  --space-md: 24px;
}

.header {
  display: grid;
  place-items: center;
}

.wrapper img {
  margin: 0;
  display: block;
  background-color: #A9A9A9;
  flex-shrink: 0;
  border-radius: var(--space-base);
}

.wrapper>img {
  width: 156px;
  height: 156px;
  margin-bottom: var(--space-base);
}

.wrapper h1 {
  color: #4E5150;
  font-size: 24px;
  margin-bottom: var(--space-sm);
}

.wrapper p {
  color: #A9A9A9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: var(--space-md);
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: var(--space-md);
}

.statsItem {
  padding: 16px;
  width: 100px;
  flex-shrink: 0;
  border-radius: var(--border-radius-base);
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.statsItem h2 {
  color: #4E5150;
  font-size: 18px;
}

.statsItem p {
  color: var(--gray-4, #BDBDBD);
  font-size: 14px;
  margin-bottom: 0;
}

.c-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 110px;
  gap: 12px;
  max-width: calc(300px * 3 + var(--space-md));
  margin-inline: auto;
}

.c-grid>* {
  position: relative;
  width: 110px;
  aspect-ratio: 1;
  border-radius: var(--border-radius-base);
}

.c-grid img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.col-span2 {
  grid-column: var(--span2);
  aspect-ratio: 621/300;
  width: 100%;
  height: 100%;
}

.row-span2 {
  grid-row: var(--span2);
  aspect-ratio: 300/612;
}

footer {
  display: grid;
  place-items: center;
  padding: var(--space-md) 0;
  color: #B9BDCF;
  font-size: 14px;
  font-weight: 500;
}

footer span {
  font-weight: 700;
}

/* scroll button */
.up-btn {
  margin: 0 20px 30px 0;
  padding: 0 15px;
  border: 2px solid;
  border-radius: 10rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 40px;
  max-height: 40px;
  white-space: nowrap;
  user-select: none;
  transition: all .15s;
  cursor: pointer;
  color: var(--clr-teal);
  background-color: #fff;
  width: 60px;
  height: 40px;
}

.up-icon {
  --size: 14px;
  width: var(--size);
  height: var(--size);
}

.up-icon>svg {
  fill: currentColor;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
  display: block;
  overflow: visible;
}

.scroll-to-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 0px;
  right: 0px;
  transition: all .2s linear;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width:980px) {
  .c-grid {
    grid-template-rows: 300px;
  }

  .c-grid>* {
    width: 300px;
  }

  .col-span2 {
    aspect-ratio: 621/300;
    width: 100%;
  }

  .row-span2 {
    aspect-ratio: 300/612;
  }

  .scroll-to-top {
    bottom: 30px;
    right: 20px;
  }
}